/*
Template Name:Sports Club
File: Layout CSS
Author: Templates On Web
Author URI: http://templateonweb.com/
Licence: <a href="http://www.templateonweb.com/terms.php?v=content&contentid=152">Website Template Licence</a>
*/
body{
       background: #edeef0;
	 font-family: 'Lustria', serif;
   }
a:hover{
text-decoration:none;
}
.container{
   width:1250px;
   }
ul{
padding:0;
margin:0;
list-style:none;
}
p{
padding:0;
margin:0;
}
h1{
padding:0;
margin:0;
}
h2{
padding:0;
margin:0;
}
h3{
padding:0;
margin:0;
}
h4{
padding:0;
margin:0;
}
h5{
padding:0;
margin:0;
}
h6{
padding:0;
margin:0;
}

.space_left{
padding-left:0; 
} 
.space_right{
padding-right:0; 
} 
.space_all{
padding:0; 
} 
.border_bottom_1{
   border-bottom:1px solid #edeef0;
   }
.border_right_1{
   border-right:2px solid #999;
   }
.border_none_1{
   border:none!important;
   }
.background_1{
  background:#d90c18!important;
  }
.marg_1{
   margin:0!important;
   }
.active_1{
     opacity:0.6; 
	   }
/********************* top_header****************/
#top_header {
   background:#edeef0;
   padding-top:5px;
   padding-bottom:5px;
	}
#top_header p{
    padding:0;
	margin:0;
	font-size:13px;
	}
#top_header p a{
    color:#000000;
	padding-right:3px;
	padding-left:2px;
	}
#top_header p a:hover{
  text-decoration:underline;
	}
/********************* top_header****************/
/********************* header****************/

.cd-secondary-nav {
  position: static;
}
.cd-secondary-nav .is-visible {
  visibility: visible;
  transform: scale(1);
  transition: transform 0.3s, visibility 0s 0s;
}
 .cd-secondary-nav.is-fixed {
    z-index: 9999;
    position: fixed;
    left: auto;
    top: 0; 
	width:100%;
   background-color:#650404;
  }	
.navbar-default{
                border:none;
				background:none;
				margin-bottom:0;
			   }
#header{
    background: #000;
	 }
#header .navbar-brand{
  font-size:30px;
  color:#fff;
	 }
#header .navbar-brand span{
 font-style:oblique;
 font-size:24px;
 font-weight:bold;
	 }
#header .pad_1{
 font-size:14px;
 color: #f5f0e8;
	 }
#header .pad_1:hover{
 opacity:0.6;
	 }
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background:none;
}
#header .nav_1 li ul {
padding:0;
padding:10px;
	 }
#header .nav_1 li ul li a{
 padding-top:10px;
 padding-bottom:10px;
 padding-left:0;
 padding-left:10px;
	 }
#header .nav_1 li ul li a:hover{
    background:#03a9f4;
	border-radius:3px;
	color:#FFF;
	 }
	 
.dropdown-large {
  position: static !important;
}
.dropdown-menu-large {
  margin-left: 16px;
  margin-right: 16px;
  padding: 20px 0px;
}
.dropdown-menu-large > li > ul {
  padding: 0;
  margin: 0;
}
.dropdown-menu-large > li > ul > li {
  list-style: none;
}
.dropdown-menu-large > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}
.dropdown-menu-large > li ul > li > a:hover,
.dropdown-menu-large > li ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}
.dropdown-menu-large .disabled > a,
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  color: #999999;
}
.dropdown-menu-large .disabled > a:hover,
.dropdown-menu-large .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed;
}
.dropdown-menu-large .dropdown-header {
  color: #a5a6a7;
  font-size: 11px;
  margin-left:15px!important;
}
@media (max-width: 768px) {
  .dropdown-menu-large {
    margin-left: 0 ;
    margin-right: 0 ;
  }
  .dropdown-menu-large > li {
    margin-bottom: 30px;
  }
  .dropdown-menu-large > li:last-child {
    margin-bottom: 0;
  }
  .dropdown-menu-large .dropdown-header {
    padding: 3px 15px !important;
  }
}
.menu_1{
   min-width:400px;
   padding:0;
   padding-top:15px;
   padding-bottom:15px;
   }
.menu_1 li a{
   padding:0;
   font-size:13px;
   padding-top:10px!important;
   padding-bottom:10px!important;
   }
.menu_1 li a:hover{
     background:#03a9f4!important;
	border-radius:3px;
	color:#FFF!important;
   }
.menu_1 li .selected{
     background:#edeef0;
   }
.menu_2 li img{
   margin-right:10px;
   }
.menu_2 {
   padding:0!important;
   }
.menu_2 .li_1{
  padding-top:7px;
  padding-bottom:7px;
   }

.menu_2 li .span_1{
 font-size:16px;
   padding-right:80px;
   }
.menu_2 li .span_3{
 font-size:16px;
   padding-right:160px;
   }

.menu_2 li .span_1:hover{
color:#03a9f4;
   }
.menu_2 li .span_3:hover{
color:#03a9f4;
   }
.menu_2 li a:hover{
background:none!important;
   }
.menu_2 li .span_2{
color:#d00;
font-weight:900;
font-size:30px;
vertical-align:middle;
font-style:oblique;
margin-right:25px;
   }
.menu_1_inner{
    padding-top:10px!important;
	padding-bottom:10px!important;
	}
.menu_1_inner_1{
    padding-top:10px!important;
	padding-bottom:10px!important;
	background: #edeef0;
	padding-left:10px;
    padding-right:10px;
	margin-bottom:0;
	}
.menu_1_inner a{
font-size:11px;
display:inline!important;
padding:0!important;
color:#333;
padding-left:8px!important;
padding-right:8px!important;
   }
.menu_1_inner a:hover{
color:#03a9f4;
   }
.menu_1_inner_1 p{
color:#999;
font-size:11px;
   }  
.menu_1_inner_1 a{
font-size:11px;
display:inline!important;
padding:0!important;
color:#999;
   }
.menu_1_inner_1 a:hover{
color:#03a9f4;
   }
.nav_2 .text_1{
     font-size:16px!important;
	 }
/********************* header_end****************/
/********************* center****************/
.carousel-control.left{
  background:none;
  }
.carousel-control.right{
  background:none;
  }
#center{
       margin-top:10px;
	   }
.center_left_1{
    background:#f9f9fb;
	}
.center_left_1 h4{
   color: #6c6d6f;
   font-size:16px;
   font-weight:400;
   padding:10px;
	}
.center_left_1 p{
   padding:10px 10px 10px 10px;
   font-size:12px;
   margin-left:6px;
   margin-right:6px;
   border-bottom:1px dotted #edeef0;
	}
.center_left_1 p:hover{
 background:#fff;
	}
.center_left_1 p img{
 margin-right:10px;
 border-radius:100%;
	}
.center_left_1 p a{
   color:#333;
	}
.center_left_1 p:hover a{
   color:#03a9f4;
	}
.center_left_2{
    background:#fff;
	margin-top:10px;
	padding:15px 10px 10px 10px;
	}
.center_left_2 h4{
    border-bottom: #dcdddf 1px solid;
    color: #6c6d6f;
    font-size: 16px;
    padding-bottom:10px;
   }
 .center_left_2 .p_1 {
   background:#06c;
   margin-top:10px;
   border-radius:5px;
   padding-top:5px;
   padding-bottom:7px;
   }
 .center_left_2 .p_1:hover {
    background: #03a9f4;
   }
.center_left_2 .p_1 a{
   color:#fff;
   display:block;
   }
 .center_left_2 .p_2 {
   margin-top:10px;
   border-radius:5px;
   padding-top:5px;
   padding-bottom:7px;
   border:1px solid #03a9f4;
   }
.center_left_2 .p_2:hover {
    background: #03a9f4;
   }
.center_left_2 .p_2 a{
   display:block;
   }
.center_left_2 .p_2:hover a{
   color:#fff;
   }
/****** LOGIN MODAL ******/
.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}

.center_left_3{
    background:#f9f9fb;
	margin-top:10px;
	}
.center_left_3 h4{
   color: #6c6d6f;
   font-size:16px;
   font-weight:400;
   padding:10px;
	}
.center_left_3 p{
   padding:10px 10px 10px 10px;
   font-size:12px;
   margin-left:6px;
   margin-right:6px;
   border-bottom:1px dotted #edeef0;
	}
.center_left_3 p:hover{
 background:#fff;
	}
.center_left_3 p img{
 margin-right:10px;
 border-radius:100%;
	}
.center_left_3 p a{
   color:#333;
	}
.center_left_3 p:hover a{
   color:#03a9f4;
	}
.center_left_3 p i{
   vertical-align:middle;
   color:#999;
	}
.center_left_3 p .tag_1{
  background: #06c;
  color:#fff;
  padding:5px;
  margin-right:15px;
  height:20px;
	}
.center_left_3 p .tag_2{
  color:#03a9f4;
  margin-right:15px;
  font-size:18px;
	}
.center_left_3 p .tag_3{
  color:#000;
  margin-right:15px;
  font-size:16px;
	}

.center_middle_2{
   background:#fff;
   padding:15px;
   }
.center_middle_2 p a{
   color: #a5a6a7;
   font-size:12px;
   }
.center_middle_2 p a span{
   color:#000;
   }
.center_middle_2 h3 {
  margin-top:5px;
   }
.center_middle_2 h3 a{
   color:#000;
   font-weight:bold;
   font-size:24px;
   }
.center_middle_2:hover h3 a {
  color:#06c;
   }
.center_middle_2 .p_1{
 margin-top:5px;
 padding-bottom:10px;
   }
.center_middle_2 .p_1 a{
  color: #6c6d6f;
   font-size:14px;
   }
.clear_1{
   margin-top:10px;
   border-left: #d00 4px solid;
    padding-left: 12px;
   }
.clear_1 p{
      color: #48494a;
    font-family: Georgia,"Times New Roman",Times,serif;
    font-size: 16px;
    margin-bottom: 10px;
   }
.clear_1 h6{
    color: #a5a6a7;
    font-size: 12px;
   }
.clear_1 h6 img{
    border-radius:100%;
	margin-right:10px;
   }
.clear_2 {
    margin-top:10px;
	}
.clear_2 img{
    padding-bottom:10px;
	}
.clear_2 p{
    margin-top:10px;
	}
.clear_2 p a{
   font-size:12px;
   color:#000;
	}
.clear_2 p a:hover{
     color:#06c;
	}
.center_middle_3{
 margin-top:10px;
 background:#fff; 
 border-top: 2px solid #cbccce;
 border-bottom: 1px solid #cbccce;
  }
.center_middle_3_inner{
 padding:10px 15px 10px 15px;
  }
.center_middle_3_inner h5{
    font-size: 14px;
    letter-spacing: 0.15em;
	  }
.center_middle_3_inner h5 a{
      	color: #1d1e1f;
	  }
.center_middle_3_inner:hover h5 a {
  color:#06c;
   }
.center_middle_3_inner span{
    display:block;
	}
.center_middle_3_inner span a i{
    background:#000;
	color:#fff;
	padding:10px;
	border-radius:100%;
	font-size:16px;
	}
.center_middle_3_inner h6{
    margin-top:1px;
	  }
.center_middle_3_inner h6 a{
    color: #a5a6a7;
    font-size: 10px;	
	  }
.center_middle_3_inner_1{
  border-top: 1px solid #edeef0;
  padding:15px 0px 15px 0px;
  }
.center_middle_3_inner_1 h4{
      font-size: 18px;
    font-weight: 600;
  }
.center_middle_3_inner_1 h4 a{
      color: #1d1e1f;
  }
.center_middle_3_inner_1:hover h4 a {
  color:#06c;
   }
.center_middle_3_inner_1 p{
 margin-top:6px;  
  }
.center_middle_3_inner_1 p a{
    color: #6c6d6f;
    font-size: 14px;   
  }
.center_middle_3_inner_2{
  border-top:1px solid #edeef0;
  padding-top:10px;
  padding-bottom:10px;
  }
.center_middle_3_inner_2 p a{
   font-size:12px;
   color:#000;
	}
.center_middle_3_inner_2 p a:hover{
     color:#06c;
	}
.center_middle_3_inner_1_inner img{
height:250px;
   }
.center_middle_3_inner_1_inner_main{
 margin-top:10px; 
  }
.center_right_1{
  background:#fff; 
   }
.center_right_1 h4{
     color: #6c6d6f;
    font-size: 16px;
	padding:10px;
  }
  
.center_right_1 ul li:before {
    color: #a5a6a7;
    content: '\2022';
    display: block;
    float: left;
    font-size: 11px;
    font-weight: 700;
    padding-right: 5px;
	padding-top:5px;
}
.center_right_1{
  padding-bottom:15px;
  }
.center_right_1 ul li {
   padding:10px 10px 0px 10px;
  }
.center_right_1 ul li a{
    font-size: 12px;
	color:#333;
  }
.center_right_1 ul li a:hover{
    color:#06c;
  }
.center_right_2{
   margin-top:10px;
   }
.center_right_3{
 background:#fff;
 padding:15px 15px 0px 15px; 
  }
.center_right_3_inner{
 background:#0c88c1;
 text-align:center;
 padding-top:30px; 
  padding-bottom:50px;
  }
.center_right_3_inner h6{
font-size:10px;
color:#fff;
letter-spacing:3px;
font-weight:bold;
  }
.center_right_3_inner h4{
font-size:16px;
color:#fff;
letter-spacing:2px;
margin-top:20px;
  }
.center_right_3_inner_1{
  padding-bottom:10px;
  }
.center_right_3_inner_1 p{
      font-size: 12px;
	  margin-top:10px;
	  clear:left;
  }
.center_right_3_inner_1 p a{
  color:#000;
  font-weight:600;
  }
.center_right_3_inner_1 p a:hover{
   color:#06c;
  }
.center_right_3_inner_1 h6{
     color: #6c6d6f;
    font-size: 12px;
  }

.center_right_3_inner_3{
   text-align:center;
   background:#1f2e4f;
   padding-top:10px;
   padding-bottom:20px;
   }
.center_right_3_inner_3 span{
   color:#ccc;
   padding:0;
   margin:0;
   }
.center_right_3_inner_3 h4{
   color:#fff;
   text-transform:uppercase;
   font-size:15px;
   font-weight:bold;
   width:80%;
   margin:auto;
   line-height:1.4em;
   padding-top:10px;
   }
.center_right_3_inner_3 h6{
  margin-top:10px;
  color:#ca8d14;
  text-transform:uppercase;
  font-size:10px;
  letter-spacing:3px;
  }
.center_right_3_inner_4{
background:#f68501;
padding:15px;
      }
.center_right_3_inner_4 h2{
color:#fff;
font-size:35px;
font-weight:bold;
      } 
.center_right_3_inner_4 h3{
color:#fff;
font-weight:bold;
font-size:25px;
      }  
.center_right_3_inner_4 hr{
border-width:5px;
border-color:#fff;
width:30%;
float:left;
margin-bottom:0;
margin-bottom:10px;
      } 
.center_right_4 {
    margin-top:20px;
    padding:5px;
   }   
.center_right_4 p{
     color: #a5a6a7;
    font-size: 12px;
   }  
.center_right_4 p a{
   color: #a5a6a7;
   } 
.center_right_4 p a:hover{
     color:#06c;
   }        
/********************* center_end****************/
/********************* center_last****************/
.photos{
 margin-top:20px;
 padding-bottom:20px;
 background:#ffffff;
  }
.photos h4{
padding:0;
margin:0;
padding-top:20px;
padding-left:20px;
font-weight:bold;
font-size:16px;
  }
.photos .heading_1 a{
padding-right:20px;
font-weight:100;
  }
.photos_last{
  background:#ffffff;
  padding-bottom:20px;
  margin-bottom:20px;
  }
.photos_last_1 p{
 padding:15px;
 font-size:13px;
 letter-spacing:1px; 
  }
.photos_last_1 p span{
font-weight:900;
  }
/********************* center_last_end****************/
/********************* center_detail****************/
.center_detail_left{
   background:#fff;
   padding:40px 150px 40px 150px;
   }
.center_detail_left_1 h2{
    color: #1d1e1f;
    font-size: 36px;
    font-weight: 700;
	line-height: 1.2;
	margin-bottom:15px;
   }
   
 .center_blog_right_last{
 background:#ffffff;
 padding-top:20px;
 }
.center_blog_right_last_1 h4{
padding:0;
margin:0;
font-size:20px;
font-weight:bold;
 }
.center_blog_right_last_1 h6{
padding:0;
margin:0;
padding-top:5px;
 }
.center_blog_right_last_1 hr{
width:30%;
border-color:#999999;
 }
.center_blog_right_last_1 p{
margin-bottom:20px;
 }
.center_blog_right_last_1 .p_tags a{
background:#0066CC;
color:#ffffff;
padding:6px 12px 6px 12px;
font-size:20px;
border-radius:5px;
 }
.center_blog_right_last_1 .p_tags_2 a{
background:#55acee;
color:#ffffff;
padding:6px 9px 6px 9px;
font-size:20px;
border-radius:5px;
 }
.center_blog_right_last_1 p:hover{
   opacity:0.8;
   }
.center_blog_right_last_1 .p_tags_3 a{
background:#3b5998;
color:#ffffff;
padding:6px 9px 6px 9px;
font-size:20px;
border-radius:5px;
 }
.center_blog_right_last_1 .p_tags_4 a{
background:#bd081c;
color:#ffffff;
padding:6px 9px 6px 9px;
font-size:20px;
border-radius:5px;
 }
.center_blog_right_last_1 .p_tags_5 a{
background:#6c6d6f;
color:#ffffff;
padding:6px 11px 6px 11px;
font-size:20px;
border-radius:5px;
 }
.center_blog_right_last_1 .p_tags_6 a{
color:#6c6d6f;
padding:6px 7px 6px 7px;
font-size:20px;
border-radius:5px;
border:1px solid #6c6d6f;
 }
.center_blog_right_last_1 span{
display:block;
padding-bottom:5px;
 }
.center_blog_right_last_1 .span_3{
font-weight:bold;
font-size:16px;
 }
.center_blog_right_last_1 .span_4 a{
color:#999999;
font-size:20px;
 }
.center_blog_right_last_1 .span_4 a:hover{
color:#000000;
 }
.center_blog_right_last_2 p{
font-size:16px;
line-height:1.6em;
padding-bottom:15px;
  }
.center_blog_right_last_2 h3{
padding:0;
margin:0;
font-size:26px;
color:#000000;
font-weight:bold;
line-height:1.3em;
width:80%;
margin:auto;
padding-bottom:20px;
  }

.content_inner  .col-sm-6{
 padding-left:0;
 }
.content{
   padding-top:30px;
   }
.content_inner_1 h5{
padding:0;
margin:0;  
font-weight:bold;
font-size:15px;
  }
.content_inner_2 p a{
  font-size:12px;
  color:#999999;
  }
.content_inner_2 p a span{
  font-size:16px;
 font-weight:bold;
  }
.content_inner_2 p a span:hover{
color:#FF6600;
  }
.content_image {
padding-top:5px;
margin-bottom:10px; 
 }
.content_image .col-sm-4{
padding-left:0; 
 }
.content_image_inner p {
padding-top:8px; 
  }
.content_image_inner p a{
color:#000000;
font-size:16px;
font-weight:bold;  
  }
.content_image_inner p a:hover{
color:#0099FF;
text-decoration:underline;  
  }
.content_image_inner h6{
padding:0;
margin:0;
padding-top:8px;  
  }
.content_image_inner h6 a{
color:#999999;
font-weight:bold; 
  }
.login{
margin-top:50px; 
border:1px solid #e1e1e1;
padding:15px;
margin-bottom:20px;
}
.login h4{
padding:0;
margin:0;
font-weight:bold;
font-size:17px;
padding-bottom:20px;
}
.login p a{
background:#3399CC;
padding:10px 70px 10px 70px;
color:#ffffff;
font-size:18px;
font-weight:bold;
border-radius:10px;
}

.latest{
 padding-bottom:20px; 
  }
.latest_inner{
  border-bottom:3px solid #e1e1e1;
    padding-bottom:20px;
		padding-top:20px;
  }
.latest_inner h6{
    padding:0;
	margin:0;
	padding-bottom:20px;
	font-weight:900;
	color:#999999;
	}
.latest_inner h6 span{
color:#006699;
	}
.latest .nav-tabs>li>a{
  border:none;
  font-weight:bold;
  padding:0;
  padding:5px 8px 5px 8px;
  margin-right:5px;
  }
.latest .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
   border:none!important;
   background:#006699;
   color:#ffffff;
   border-radius:0;
}
.coverage {
   background:#fff;
   margin-top:10px;
   margin-bottom:10px;
   }
.coverage_inner{
  padding:10px;
  border-bottom: 1px solid #dcdddf;
  }
.coverage_inner_left h5{
     color: #6c6d6f;
    font-size: 16px;
  }
.coverage_inner_right p{
   font-size:10px;
   font-weight: 600; 
  }
.coverage_inner_right p a{
     color: #06c; 
  }
.coverage_inner_right p a:hover{
    text-decoration:underline;
  }
.coverage_inner_right p a i{
     padding-left:5px;
	 font-size:6px;
  }
.coverage_inner_1{
padding:10px;
border-bottom: 1px solid #edeef0;
  }
.coverage_inner_1_left img{
 height:60px;
  }
.coverage_inner_1_right h6{
  font-size:12px;
  font-weight: 600;
  }
.coverage_inner_1_right h6 a{
  color:#000;
  }
.coverage_inner_1_right h6 a:hover{
    color: #06c;
  }
.coverage_inner_1_right p{
    color: #6c6d6f;
    font-size: 12px;
    line-height: 16px;
  }
/********************* center_detail_end****************/
/********************* footer****************/
#footer{
     padding-bottom:20px; 
	 padding-top:20px;
	 background: #000;
	  }
.footer_1 .p_4 a{
  color:#fff;
  padding-right:10px;
  padding-left:10px;
  font-size:12px;
  border-right:1px solid #e1e1e1;
  }
.footer_1 .p_4 a:hover{
  opacity:0.6;
  }
.footer_1 .p_5{
  padding-top:10px;
  font-size:13px;
  letter-spacing:1px;
  color:#e1e1e1;
  padding-left:10px;
  }
.footer_1 .p_5 a{
color: #f5f0e8;
font-size:16px;
font-weight:bold;
  }
.footer_1 .p_5 a:hover{
color:#e1e1e1;
  }
.footer_2 p{
padding-top:30px;
padding-right:10px;
font-size:12px;
color:#fff;
  }
  
/********************* footer_end****************/

/********************* features****************/
.center_feature_1{
    background:#f4f4f4;
  }
#custom-search-input{
  width:80%;
  margin:auto;
  padding-top:15px;
  padding-bottom:15px;
  }
.center_feature_2_inner {
padding:0;
 }
.center_feature_2_inner .form-control{
width:70%;
display:inline;
border-radius:0;
margin-right:5px;
height:30px;
 }
.center_feature_2_inner i{
font-size:20px;
color:#0099FF;
cursor:pointer;
 }
.center_feature_2_inner p{
font-weight:bold;
padding-top:5px;
 }
.center_feature_2_inner p a{
color:#666666;
border:1px solid;
padding:10px 10px 8px 12px;
font-size:12px;
border-radius:3px;
 }
.center_feature_2_inner p a:hover{
 color:#439ec9;
 }

 .center_feature_2{
  padding-top:20px;
  padding-bottom:20px;
  background:#ffffff; 
   }
 .blog_main{
  background:#ffffff; 
   }
.blog{
width:80%;
margin:auto;
padding-top:30px;
padding-bottom:30px;
   }
.blog h6{
padding:0;
margin:0;
font-weight:bold;
padding-bottom:20px;
   }
 .blog h6 img{
margin-right:20px;
   }
.blog h5{
padding:0;
margin:0;
font-weight:bold;
font-size:12px;
color:#666666;
   }
.blog h2{
padding:0;
margin:0;
font-weight:bold;
padding-top:10px;
   }
.blog h2 a{
color:#000000;
   }
.blog h2 a:hover{
 color:#439ec9;
   }
.blog p{
color:#000000;
padding-top:20px;
font-size:17px;
padding-bottom:15px;
   }
.blog p span{
font-weight:bold;
font-size:18px;
   }
.center_feature_2_inner{
 margin-bottom:10px;
 }
 .poll{
margin-top:10px;
margin-bottom:10px;
background:#ffffff;
padding-top:15px;
padding-left:15px; 
padding-bottom:30px; 
  }
.poll h4{
padding:0;
margin:0;
font-weight:bold;
font-size:16px;
color:#000000;  
  }
.poll h3{
padding:0;
margin:0;
padding-top:15px;
color:#000000;
font-size:20px;
font-weight:bold;
line-height:1.2em;
  }
.poll p {
padding-top:15px;
  }
.poll p .radio_1{
margin-right:10px;
  }
.poll p {
color:#999999;
font-size:14px;
  }
.submit{
 padding-top:30px; 
  }
.submit a{
border:1px solid;
color:#999999;
padding:10px 40px 10px 40px;
border-radius:5px; 
  }
/********************* features_end****************/
/*********************contact****************/
#contact{
   background:#f4f4f4; 
   padding-top:40px;
   padding-bottom:60px;
	}
#contact h1{
   padding:0;
   margin:0;
   color:#000;
   font-size:40px;
   padding-bottom:60px;
	}
.contact_1 p{
   padding:0;
   margin:0;
	}
.contact_1 .text_1 i{
   padding:0;
   margin:0;
   border-radius:100%;
   border:2px solid #000 ;
   font-size: 1.5em;
   color: #fff;
   background: #000;
   padding:20px 25px 20px 25px;
	}
.contact_1 .text_1 i:hover{
  background:#03a9f4;
  border-color:#03a9f4;
	}
.contact_1 .text_2 i{
   padding:0;
   margin:0;
   border-radius:100%;
   border:2px solid #000 ;
   font-size: 1.5em;
   color: #fff;
   background: #000;
   padding:20px;
	}
.contact_1 .text_2 i:hover{
  background:#03a9f4;
  border-color:#03a9f4;
	}
.contact_1 h3{
   padding:0;
   margin:0;
   padding-top:15px;
   font-size:25px;
   padding-bottom:15px;
   color:#000;
	}
.contact_1  a{
  color:#000;
  font-weight:bold;
	}
.contact_1  a:hover{
	  color: #990000;
	}
#contact .touch{
  padding:0;
  margin:0;
  padding-top:50px;
  padding-bottom:30px;
  color:#000;
  font-size:27px;
	}
.contact_3 {
		margin-top:15px;  
			}
.contact_3 a {
	   background:#000;
	   color:#ffffff;
	   padding:15px 40px 15px 40px;  
			}
.contact_3 a:hover {
	   background: #03a9f4;
			}
.contact_2 .form-control{
	   min-height:50px; 
			}
	
.contact_3 .form_1{
		 min-height:200px;
		 margin-bottom:25px;   
			}

/*********************contact_end****************/
/*********************pages****************/
#pages{
padding-bottom:20px;
padding-top:40px;
}
#pages h1{
margin-bottom:10px;
}
#pages h2{
margin-bottom:10px;
}
#pages h3{
margin-bottom:10px;
}
#pages h4{
margin-bottom:10px;
}
#pages h5{
margin-bottom:10px;
}
#pages h6{
margin-bottom:10px;
}

#pages p{
margin-bottom:10px;
}
#pages .typo{
font-size:45px;
font-weight:bold;
}
/*********************pages_end****************/
/********************* top_button****************/
 #toTop{
	position: fixed;
	bottom: 10px;
	right: 10px;
	cursor: pointer;
	display: none;
}
/********************* top_button_end****************/

@media screen and (max-width : 768px){
.container{
        width:auto;
		}
.space_left{
padding-left:15px; 
} 
.space_right{
padding-right:15px; 
} 
.space_all{
padding-left:15px;
padding-right:15px;
} 
.navbar-collapse{
max-height:none;
box-shadow:none;  
  }
#pages p .btn{
  margin-bottom:10px;
  }
#pages  .label {

font-size: 50%;

}  
#pages img{
  width:100%;
  margin-top:10px;
  }		
#pages .typo{
font-size:35px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border:none;
}
.navbar-toggle{
  background:#fff;
  }
.dropdown-menu{
 background:#ffffff!important; 
  }
.cd-secondary-nav.is-fixed {
    z-index: 9999;
    position:static;
    left: auto;
    top:auto; 
	width:100%;
   background-color:#650404;
  }
.menu_2 li .span_1{
 padding-right:0;
 padding-right:10px; 
  }
.menu_2 li .span_3{
 padding-right:0;
 padding-right:10px; 
  }
.menu_1_inner a{
 padding:0!important;
 padding-left:3px!important;
 padding-right:6px!important;
  }
.drop_inner{
min-width:auto!important;  
  }
.center_middle {
   margin-top:20px;
   }
.center_middle_3_inner_1 h4{
 margin-top:15px; 
  }
.center_middle_3_inner h5{
margin-top:5px;  
  }
.center_right{
margin-top:20px; 
   }
.center_right_1 ul li a{
 font-size:11px; 
  }
.footer_2 p{
 text-align:left; 
  }
.top_header_1 {
 text-align:left; 
  }
.center_detail_left{
  padding:0;
  padding:20px;
  }
.content_image_inner h6{
  margin-bottom:10px;
  }
.coverage_inner_1_right{
  margin-top:10px;
  }
.blog h6 img{
 display:block;
 margin-bottom:10px;
  }
.contact_1{
margin-bottom:20px;  
} 
.contact_2 .form-control{
margin-bottom:20px;  
  }
}
@media (min-width:768px) and (max-width:960px) { 
.space_left{
padding-left:5px; 
} 
.space_right{
padding-right:5px; 
} 
.space_all{
padding-left:5px;
padding-right:5px;
} 
.container{
   width:auto;
   }
.nav>li>a{
   padding-left:0;
   padding-right:0;
   font-size:11px!important;
   padding-left:3px;
   padding-right:3px;
   }
.center_left_1 p {
    padding:0;
    padding:3px;
    font-size: 9px;
	margin:0;
    border-bottom: 1px dotted #edeef0;
}
.center_left_1 p img  {
margin-right:0;
margin-right:2px;
}
.center_left_3 p{
 font-size:9px; 
  padding:0;
    padding:3px;
  }
.center_left_3 p .tag_1{
 margin-right:0;
 margin-right:5px; 
  }
.center_left_3 p .tag_2{
 margin-right:0; 
 margin-right:5px
  }
.center_left_3 p .tag_3{
 margin-right:0; 
 margin-right:5px
  }
.center_left_3 p img{
 margin-right:0;
 margin-right:5px; 
  }
.center_middle_3_inner span a i{
font-size:12px;
padding:0;
padding:5px;  
  }
.center_right_1 ul li a{
 font-size:11px; 
  }
.center_right_3 {
    padding:0;
    padding: 15px 8px 0px 8px;
}
.center_right_3_inner_4 h2{
font-size:28px;  
  }
.center_feature_2_inner .form-control{
 font-size:12px; 
  }
.center_feature_2_inner i{
   font-size:10px;
  }
.center_feature_2_inner p a{
padding:0;
font-size:10px;
padding: 3px 3px 3px 4px;  
  }
.coverage_inner_1_right h6{
font-size:11px; 
 }
.coverage_inner_1_right p{
  font-size:11px; 
  }
.center_detail_left_1 h2{
 font-size:28px; 
  }

 .center_detail_left{
 padding:0; 
 padding: 40px; 
   }
.center_blog_right_last_2 p{
font-size:14px; 
 }
 }
@media (min-width:960px) and (max-width:1200px) {
.space_left{
padding-left:5px; 
} 
.space_right{
padding-right:5px; 
} 
.space_all{
padding-left:5px;
padding-right:5px;
} 
.container{
   width:auto;
   }
.nav>li>a{
   padding-left:0;
   padding-right:0;
   font-size:12px!important;
   padding-left:10px;
   padding-right:10px;
   }
.center_left_1 p {
    padding:0;
    padding:5px;
    font-size: 10px;
	margin:0;
}
.center_left_3 p{
   font-size: 10px;
  }
.center_middle_3_inner span a i{
padding:0;
padding:8px;
font-size:12px; 
 }
.center_right_1 ul li a{
font-size:11px; 
 }
.center_feature_2_inner .form-control{
 font-size:14px; 
  }
.center_feature_2_inner i{
   font-size:14px;
  }
.center_feature_2_inner p a{
padding:0;
font-size:12px;
padding: 7px 7px 7px 8px;  
  }

 .center_detail_left{
 padding:0; 
 padding: 40px; 
   }
 }
 @media (min-width:1200px) and (max-width:1300px) {

.container{
   width:1170px;
   }
 }





